# Statistics

In [1]:
# Import pandas library
import pandas as pd

In [2]:
sample_data = {'name': ['John', 'Alia', 'Ananya', 'Steve', 'Ben'],
               'gender': ['M', 'F', 'F', 'M', 'M'],
               'communcation_skill_score': [40, 45, 23, 39, 39],
               'quantitative_skill_score': [38, 41, 42, 48, 32]}

data = pd.DataFrame(sample_data, columns = ['name', 'gender', 'communcation_skill_score', 'quantitative_skill_score'])
data.head()

     name gender  communcation_skill_score  quantitative_skill_score
0    John      M                        40                        38
1    Alia      F                        45                        41
2  Ananya      F                        23                        42
3   Steve      M                        39                        48
4     Ben      M                        39                        32

### Measuring central tendency

**Mean**

In [3]:
# find mean of communication_skill_score column
data['communcation_skill_score'].mean()

np.float64(37.2)

**Median**

In [4]:
# find median of communication_skill_score column
data['communcation_skill_score'].median()

np.float64(39.0)

**Mode**

In [5]:
# find mode of communication_skill_score column
data['communcation_skill_score'].mode()[0]

np.int64(39)

In [6]:
data['gender'].mode()

0    M
Name: gender, dtype: object

In [7]:
data['name'].mode()

0      Alia
1    Ananya
2       Ben
3      John
4     Steve
Name: name, dtype: object

### Measuring dispersion

**Variance**

In [8]:
# Variance of communication_skill_score
data['communcation_skill_score'].var()

np.float64(69.2)

**Standard deviation**

In [9]:
# Standard deviation of communication_skill_score
data['communcation_skill_score'].std()

np.float64(8.318653737234168)

**Range**

In [10]:
column_range=data['communcation_skill_score'].max()-data['communcation_skill_score'].min()
print(column_range)

22

**IQR** is the difference between the third and first quartiles. It is easy to
compute and easy to understand. Its unit is the same as the unit of observations.
It measures the middle 50% in the observation. It represents the range where
most of the observation lies. IQR is also known as midspread or middle 50%, or
H-spread.

In [11]:
# First Quartile
q1 = data['communcation_skill_score'].quantile(.25)
q1

np.float64(39.0)

In [12]:
# Third Quartile
q3 = data['communcation_skill_score'].quantile(.75)
q3

np.float64(40.0)

In [13]:
# Inter Quartile Ratio
iqr=q3-q1
print(iqr)

1.0

The function **describe()**  -  to get all the summary statistics in a
single command. The describe() function returns the count, mean, standard
deviation, first quartile, median, third quartile, and minimum and maximum
values for each numeric column in the DataFrame.

In [14]:
data.describe()

       communcation_skill_score  quantitative_skill_score
count                  5.000000                  5.000000
mean                  37.200000                 40.200000
std                    8.318654                  5.848077
min                   23.000000                 32.000000
25%                   39.000000                 38.000000
50%                   39.000000                 41.000000
75%                   40.000000                 42.000000
max                   45.000000                 48.000000

**Skewness**

In [15]:
# skewness of communication_skill_score column
data['communcation_skill_score'].skew()

np.float64(-1.704679180800373)

**Kurtosis**

In [16]:
# kurtosis of communication_skill_score column
data['communcation_skill_score'].kurtosis()

np.float64(3.6010641852384015)

**Covariance**

In [17]:
# Covariance between columns of dataframe
d=data[['communcation_skill_score','quantitative_skill_score']]
d

   communcation_skill_score  quantitative_skill_score
0                        40                        38
1                        45                        41
2                        23                        42
3                        39                        48
4                        39                        32

In [18]:
d.cov()

                          communcation_skill_score  quantitative_skill_score
communcation_skill_score                     69.20                     -6.55
quantitative_skill_score                     -6.55                     34.20

**Correlation**

In [19]:
# Correlation between columns of dataframe
d.corr(method ='pearson')

                          communcation_skill_score  quantitative_skill_score
communcation_skill_score                   1.00000                  -0.13464
quantitative_skill_score                  -0.13464                   1.00000